* text=auto

*.go text eol=lf
*.mod text eol=lf
*.sum text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.md text eol=lf
*.html text eol=lf

*.exe binary
*.db binary
*.sqlite binary
